.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 26px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.poster,
.img {
  min-width: 280px;
  height: 420px;
}

.noImg {
  min-width: 280px;
  height: 420px;
  background-color: rgb(179, 179, 179, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.backLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #5746f0;
  border-radius: 4px;
  width: 140px;
  margin-bottom: 16px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.backLink:hover {
  background-color: #5746f0;
  color: #fff;
}

.content {
  border: 1px solid black;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 10px 10px 5px #5746f0;
  min-height: 420px;
  width: 100%;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.score {
  font-size: 20px;
  margin-bottom: 20px;
}

.infoList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.listItem {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.adds {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
}

.addsList {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.link {
  font-weight: 600;
  font-size: 18px;
}

.link.active {
  color: #5746f0;
}
