.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-items: center;
  gap: 10px;
}

.poster {
  width: 260px;
  height: 360px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}

.img {
  width: 260px;
  height: 360px;
}
