.photo {
  width: 180px;
  height: 280px;
  background-color: rgb(194, 192, 192, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
}

.castList .slide {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-radius: 4px;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
}

.img {
  width: 180px;
  height: 280px;
  border-radius: 4px;
}

.scrollbar {
  height: 20px;
  background-color: rgb(212, 210, 210);
  border-radius: 12px;
}
